/* 尺寸 */
$input-width: 190px; // 输入框长度
$lg-width: 1170px; // lg以上的宽
$content-width: 1200px; // 盒子宽度
$md-width: 940px; // md-lg 下的宽
$content-width-md: 970px; // md盒子宽度（970）
$xs-width: 738px; // xs-md宽度
$content-width-xs: 768px; // xs盒子宽度（768)

/* 颜色 */
$router-active-color: green; // 路由高亮色
$router-h-active-color: #009688; // 鼠标放上路由高亮色
$head-color: #A9B7B7; // 头部字体色
$bg: #F2F2F2; // body背景色
$form-bg: #fff; // 登录、注册、找回密码表单背景色